p {
  display: inline;
  font-size: 1.4rem;
}

th, td {
  border: 1px solid #ffffff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.img-block{
  background-image: url(images/dark-background.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20%;
}

.ws {
  padding: 1.2%;
}

.ni {
  list-style: none;
  float: right;
  padding-right: 2%;
}

.ni:hover{
  color: grey;
}

.nb{
  display: block;
  float: left;
  font-weight: 1000;
}

.nc {
  display: block;
  padding-right: 3%;
}

.navbar{
  background-color: #292929;
}

.para{
  padding: 10%;
}

.img1{
  float: left;
  width: 65%;
}

.img2{
  float: right;
  width: 35%;
}

.table {
  padding-bottom: 15%;
  padding-left: 30%;
  padding-top: 45%;
}

.tb {
  align-items: center;
  border-collapse: collapse;
  text-align: center;
  width: 60%;
}

.form {
  background: #B4B4B4;
  padding: 10%;
}

.in{
  border-radius: 15px;
}

.footer{
  display: inline-block;
  padding: 1.5% 1%;
}

.nv {
  padding-left: 95%;
}

.nif {
  color: grey;
  display: block;
  list-style: none;
  padding-bottom: 20%;
  vertical-align: top;
}

.nif:hover{
  color: white;
}

.nib{
  color: grey;
}

.bt {
	box-shadow:inset 0px 0px 15px 3px #474747;
	background:linear-gradient(to bottom, #0d0d0d 5%, #474747 100%);
	background-color:#0d0d0d;
	border-radius:17px;
	border:1px solid #3d3d3d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d3d3d;
}
.bt:hover {
	background:linear-gradient(to bottom, #474747 5%, #0d0d0d 100%);
	background-color:#474747;
}
.bt:active {
	position:relative;
	top:1px;
}
